@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5,h6, p, a, button {
  font-family: 'Jost', sans-serif !important;
}

a {
  text-decoration: none;
}
:root {
  --darkColor: #103178;
  --brandColor: #FD8D27;
}

ul{
  list-style-type: none;
}

/* header style codes */

.nav-menu li {
  padding: 0 14px;
  color: var(--darkColor);
  font-size: 18px;
  font-weight: 500;
  transition: color .3s;
}
.nav-menu li:hover{
  color: var(--brandColor);
}
.nav-menu li a {
  color: var(--darkColor);
  transition: color .3s;
}

.nav-menu li a:hover{
  color: var(--brandColor);
}

.primary-logo{
  font-size: 30px;
  color: var(--darkColor);
}

.darkText{
  color: var(--darkColor);
}

.brandBtn {
  background-color: var(--brandColor) !important;
  color: #fff !important;
  padding: 8px 50px !important;
  font-weight: 500 !important;
  border-radius: 40px !important;
  border: 1px solid var(--brandColor) !important;
  font-size: 20px !important;
  transition: all .3s !important;
  box-shadow: none !important;
}

.brandBtn:hover{
  background-color: #fff !important;
  color: var(--brandColor) !important;
  box-shadow: none !important;
}

.darkBtn {
  background-color: var(--darkColor) !important;
  color: #fff !important;
  font-weight: 500 !important;
  border-radius: 40px !important;
  border: 1px solid var(--darkColor) !important;
  transition: all .3s !important;
  box-shadow: none !important;
  text-transform: capitalize;
}

.darkBtn:hover{
  background-color: var(--brandColor) !important;
  color: #fff !important;
  box-shadow: none !important;
  border: 1px solid var(--brandColor) !important;
}


.search-input{
  width: 430px;
  font-family: 'Jost', sans-serif;
  color: var(--darkColor);
}

.search-input::placeholder { 
  color:#103178b0;
  opacity: 1;
}

.search-input:-ms-input-placeholder { 
  color: #103178b0;
}

.search-input::-ms-input-placeholder { 
  color: #103178b0;
}

/* home page */
.banner_small img {
  transition: transform .5s ease-in;
}

.banner_small:hover img{
  transform: scale(1.1) rotate(-30deg);
}



/* footer style codes */
.footer-links a{
  display: block;
  color: #5b6c8f;
  font-size: 16px;
  padding: 6px 0px;
  font-weight: 500;
  transition: color .3s;
}

.footer-links a:hover{
  color: var(--brandColor);
}

/* homepage style code */


/* media queries */

@media only screen and ( max-width: 1200px ) {
  .search-input{
    width: 360px;
  }
}
@media only screen and ( max-width: 900px ) {
  .search-input{
    width: 280px;
  }
}
@media only screen and ( max-width: 400px ) {
  .search-input{
    width: 200px;
  }
}

/* swiper slider css */
.home_hero_banners:hover .swiper-button-prev{
  display: flex !important;
} 
.home_hero_banners:hover .swiper-button-next{
  display: flex !important;
} 
.swiper-button-prev, .swiper-button-next {
color: #fff !important;
background-color: var(--darkColor) !important;
width: 55px !important;
height: 55px !important;
border-radius: 50% !important;
display: none !important;
}
.swiper-button-next::after {
  content: "🡪" !important;
  font-size: 30px !important;
}
.swiper-button-prev::after {
  content: "🡨" !important;
  font-size: 30px !important;
}